p.treeRoot {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  display: inline-block;
}

span.nodeName {
  margin-right: 5px;

  &.selected {
    color: green;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

span.nodeArrow {
  margin-right: 5px;
  display: inline-block;

  &.rotating {
    animation: rotation 1s infinite linear;
  }
}

span.nodeType {
  margin-right: 5px;
}