td:last-of-type {
  text-align: center;
}

table.generic {
  margin: 30px auto;
  background-color: var(--bgcolor4);

  th {
    padding: 25px;
    text-align: center;
    color: var(--color1);
    background-color: var(--bgcolor1);
  }


  tr {
    background-color: var(--bgcolor3);

    &.even {
      background-color: var(--bgcolor2);
    }
  }

  td {
    padding: 25px;
    text-align: center;
    &.bigFont {
      font-size: 40px;
      padding: 0;
    }
    > span.tick {
      color: green;
      text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
    }
    > span.cross {
      color: red;
      text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;

    }
  }

  p.link {
    cursor: pointer;
    color: var(--color5);

    &:hover {
      color: var(--color1);
    }
  }
}

div.centered {
  text-align: center;
}

span.button {
  > a {
    padding: 15px 60px;
    background: var(--bgcolor2);
    display: inline-block;
    color: var(--color4);
    text-decoration: none;

    &:hover {
      color: var(--color1);
      border: var(--border1);
      background: var(--bgcolor3);
    }
  }
}

span.deactivate {
  padding: 5px;
  color: var(--color1);
  display: inline-block;
  background: red;
  border-radius: 5px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    border: var(--border1);

  }
}

span.activate {
  padding: 5px;
  color: var(--color1);
  display: inline-block;
  background: green;
  border-radius: 5px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    border: var(--border1);
  }
}