section.translation-editor {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  //-webkit-backdrop-filter: blur(10px);
  //backdrop-filter: blur(10px);

  .spinner {
    height: 40px;
    width: 40px;
    margin: 30px 0;
  }

  .translation-wrapper {
    background: var(--bgcolor4);
    border: var(--border1);
    width: 70%;
    height: 70%;
    padding: 30px;
    align-items: center;
    position: relative;


    &.edit-view {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
    }

    &.history-view {
      overflow: auto;
      &>div {
        margin-top: 20px;
      }
    }
    //width: calc(100% - 20px);
    //padding: 10px;

    fieldset {
      border: none;
      div.langSelectWrapper {
        display: inline-block;
        width: 180px;
        margin-left: 10px;
        margin-bottom: 5px;

        >div>div {
          min-height: 30px;

          div[class$="indicatorContainer"] {
            padding: 4px;
          }
        }
      }
    }

    .close_modal, .history_view, .back_to_edit_view {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      &.history_view, &.back_to_edit_view {
        right: 50px;
      }
    }


    span.link {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      color: var(--color4);
      text-decoration: none;

      img {
        width: 30px;
        filter: invert(63%) sepia(12%) saturate(0%) hue-rotate(207deg) brightness(95%) contrast(86%);

        &:hover {
          filter: var(--black-to-white-filter);
        }
      }

      &:hover {
        cursor: pointer;
        color: var(--color1);
      }
    }

    label.translation-action {
      background: var(--bgcolor1);
      color: var(--bgcolor4);
      border: none;
      border-radius: 3px;
      padding: .4em 1em;
      margin: 0 10px;
      &:hover, &.active {
        color: var(--color1);
        border: var(--border1);
      }

      &[data-status="NEW"] {
        background: #2FDAF760;
        &:hover, &.active {
          background: #2FDAF790;
        }
      }
      &[data-status="TODO"] {
        background: #FFE30098;
        &:hover, &.active {
          background: #FFE300C8;
        }
      }
      &[data-status="READY_TO_REVIEW"] {
        background: #FF8F0098;
        &:hover, &.active {
          background: #FF8F00C8;
        }
      }
      &[data-status="NEEDS_WORK"] {
        background: #F7422F98;
        &:hover, &.active {
          background: #F7422FC8;
        }
      }
      &[data-status="ACCEPTED"] {
        background: #3FF72F59;
        &:hover, &.active {
          background: #3FF72F89;
        }
      }
    }

    input.translation-action {
      display: none;
    }

    span {
      &[data-status] {
        border-radius: 5px;
        padding: 5px;
        font-size: 10px;
        vertical-align: top;
        margin-left: 10px;
      }

      &[data-status="NEW"] {
        background: #2FDAF770;
      }
      &[data-status="TODO"] {
        background: #FFE300A8;
      }
      &[data-status="READY_TO_REVIEW"] {
        background: #FF8F00A8;
      }
      &[data-status="NEEDS_WORK"] {
        background: #F7422FA8;
      }
      &[data-status="ACCEPTED"] {
        background: #3FF72F69;
      }
    }

    h3.translation-header {
      //margin: 30px 0 10px 0;
      color: var(--color1);
      font-weight: bold;
      margin-bottom: 0;
    }

    p.filepath {
      margin-bottom: 30px;
      font-size: 12px;
    }

    label.translation-header, p.translation-header {
      color: var(--color1);
      font-weight: bold;
      margin-bottom: 15px;
    }

    input.translation-save {
      align-self: auto;
      margin: 30px 15px;
      width: 250px;
      height: 45px;
      font-size: 16px;
      padding: 5px 0;
      background: var(--bgcolor1);
      border: none;
      color: var(--color4);
      cursor: pointer;
      &:hover {
        background: var(--bgcolor5);
        color: var(--color1);
        border: var(--border1);
      }
    }

    div.translation-content {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      width: 80%;
      height: 150px;
      margin-bottom: 30px;
      background: var(--bgcolor6);
      padding: 5px;

      textarea {
        width: 100%;
        min-height: 100%;
        border: none;
        background: var(--bgcolor6);
        font-size: 15px;
        color: var(--color1);
        resize: none;

        &[disabled] {
          color: var(--color5);
        }
      }
    }

  }
}