section.translation {
  width: 100%;
  min-height: calc(100vh - 61px);
  background: var(--bgcolor4);
  padding: 20px;
  box-sizing: border-box;
}

tr.MuiTableRow-root {
  background-color: var(--bgcolor2);
  border: 0;
  color: var(--color1);

  &:nth-child(2n+1) {
    background-color: var(--bgcolor3);
  }

  &.MuiTableRow-footer {
    background-color: var(--bgcolor1);
  }

  > td.MuiTableCell-root {
    color: var(--color1);
    border: 0;

    span.status {
      padding: 5px;
      border-radius: 5px;

      &[data-status="NEW"] {
        background: #2FDAF770;
      }

      &[data-status="TODO"] {
        background: #FFE300A8;
      }

      &[data-status="READY_TO_REVIEW"] {
        background: #FF8F00A8;
      }

      &[data-status="NEEDS_WORK"] {
        background: #F7422FA8;
      }

      &[data-status="ACCEPTED"] {
        background: #3FF72F69;
      }
    }
  }

  > th.MuiTableCell-root {
    color: var(--color1);
    background-color: var(--bgcolor1);

    &.MuiTableCell-head:last-child {
      text-align: center;
      padding-left: 36px;
    }
  }

}

span.MuiButtonBase-root {
  color: var(--color1);
  &:not(.Mui-disabled) {
    &:hover {
      color: var(--color1);
      font-weight: bold;
    }

    &.MuiTableSortLabel-active {
      color: var(--color1);
      font-weight: bold;
    }
  }
}

button.MuiButtonBase-root {
  &.Mui-disabled {
    svg.MuiSvgIcon-root {
      color: #666;
    }
  }

  svg.MuiSvgIcon-root {
    color: var(--color1);
  }
}


span.MuiTypography-root {
  color: var(--color1);
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon > path {
  color: var(--color1);
}