header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #202E44;

  nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    width: 100%;


    a.logo {
      div {
        width: 150px;
        text-align: center;
        font-size: 20px;
        color: #FFF;
      }
    }

    ul {
      display: flex;
      list-style-type: none;

      li {
        display: flex;
        a.link, span.link {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          margin: 0 15px;
          color: #999;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            color: #FFF;
          }
        }
      }
    }
  }
}
